<strong>Olá, {{courier}}</strong>
<p>Uma nova encomenda está disponível para retirada, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente:</strong> {{recipient}} <br />
  <strong>Produto:</strong> {{product}} <br />
  <strong>Endereço:</strong> {{adress}} <br />
  <strong>Cep:</strong> {{zip}} <br />
  <br />
  <small>Vá até o ponto de retirada combinado!!</small>

</p>
